<dialog id="client_create_modal" class="modal">
  <div class="modal-box">
    <form method="dialog">
      <button x-ref="modal_close_btn"
              class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>

    {% comment %} djlint:off {% endcomment %}
    <form hx-post="{% url 'client-create' %}"
          hx-trigger="submit"
          hx-target="#client"
          hx-swap="innerHTML"
          x-data="{
            client_type: 'student',

            get getClientType() {
              return isEmployee && this.client_type === 'nonteaching-personnel'? 'non-teaching-personnel' : isEmployee? 'teacher' : 'student'
            },
          }">
      {% csrf_token %}

      <div class="text-center text-xs text-gray-400 mb-2">Basic Information</div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-6 mx-auto">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">
              <span x-text="isEmployee ? 'Employee ID Number' : 'Learner Reference Number'"></span>
            </span>
          </label>
          <input x-model="reference_number"
                 type="text"
                 id="reference_number"
                 name="reference_number"
                 required
                 :placeholder="getClientType == 'student' ? 777708829185 : getClientType == 'teacher' ? 929872 : 572438"
                 class="input input-bordered w-full max-w-xs" />
        </div>

        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Client Type</span>
          </label>
          <template x-if="isEmployee">
            <div>
              <label class="label cursor-pointer">
                <span class="label-text font-semibold">Teacher</span>
                <input x-model="client_type"
                       type="radio"
                       id="teacher"
                       name="client_type"
                       value="teacher"
                       class="radio"
                       required
                       checked />
              </label>
              <label class="label cursor-pointer">
                <span class="label-text font-semibold">Non-teaching Personnel</span>
                <input x-model="client_type"
                       type="radio"
                       id="nonteaching-personnel"
                       name="client_type"
                       value="nonteaching-personnel"
                       required
                       class="radio" />
              </label>
            </div>
          </template>
          <template x-if="!isEmployee">
            <div>
              <label class="label cursor-pointer">
                <span class="label-text font-semibold">Student</span>
                <input x-model="client_type"
                       type="radio"
                       id="student"
                       name="client_type"
                       value="student"
                       required
                       class="radio"
                       checked />
              </label>
            </div>
          </template>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-6 mx-auto mt-4">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">First Name</span>
          </label>
          <input x-model="first_name"
                 type="text"
                 id="first_name"
                 name="first_name"
                 required
                 placeholder="John"
                 class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Last Name</span>
          </label>
          <input x-model="last_name"
                 type="text"
                 id="last_name"
                 name="last_name"
                 required
                 placeholder="Doe"
                 class="input input-bordered w-full max-w-xs" />
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-6 mx-auto mt-4">
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text">Age</span>
          </label>
          <input x-model="age"
                 type="text"
                 id="age"
                 name="age"
                 required
                 :placeholder="getClientType === 'student' ? 15 : getClientType === 'teacher'? 23 : 40"
                 class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="form-control w-full max-w-xs">
          <label class="label">
            <span class="label-text" x-text="isEmployee ? 'Position' : 'Grade Level'"></span>
          </label>
          <input x-model="level"
                 type="text"
                 id="level"
                 name="level"
                 required
                 :placeholder="getClientType === 'student' ? 'Grade 10' : getClientType === 'teacher' ? 'Teacher 1' : 'Principal'"
                 class="input input-bordered w-full max-w-xs" />
        </div>
      </div>

      <div class="grid grid-cols-1 gap-y-4 gap-x-6 mx-auto mt-4">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">School</span>
          </label>
          <input x-model="school"
                 type="text"
                 id="school"
                 name="school"
                 required
                 placeholder="Gonzalez 6 High School"
                 class="input input-bordered w-full" />
        </div>
      </div>

      <div class="divider text-xs text-gray-400 mt-10 mb-2">Address</div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-4 gap-x-6 mx-auto mt-4">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Province</span>
          </label>
          <input x-model="province_name"
                 type="text"
                 id="province_name"
                 name="province_name"
                 list="province_datalist"
                 required
                 placeholder="Leyte"
                 class="input input-bordered w-full" />
          <input type="hidden"
                 id="province"
                 name="province"
                 hx-trigger="change"
                 hx-target="#city_datalist"
                 hx-swap="innerHTML" />
          <datalist hx-post="{% url 'provinces-query' %}"
                    hx-trigger="load"
                    hx-target="this"
                    hx-swap="innerHTML"
                    id="province_datalist"></datalist>
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">City / Municipality</span>
          </label>
          <input x-model="city_name"
                 type="text"
                 id="city_name"
                 name="city_name"
                 list="city_datalist"
                 required
                 disabled
                 placeholder="Tacloban City"
                 class="input input-bordered w-full"/>
          <input type="hidden"
                 id="city"
                 name="city"
                 hx-trigger="change"
                 hx-target="#district_datalist"
                 hx-swap="innerHTML" />
          <datalist id="city_datalist"></datalist>
        </div>
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Barangay</span>
          </label>
          <input x-model="district_name"
                 type="text"
                 id="district_name"
                 name="district_name"
                 list="district_datalist"
                 required
                 disabled
                 placeholder="Brgy. 63 - Sagkahan"
                 class="input input-bordered w-full"/>
          <input type="hidden"
                 id="district"
                 name="district" />
          <datalist id="district_datalist"></datalist>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-y-4 gap-x-6 mx-auto mt-4">
        <div class="form-control w-full">
          <label class="label">
            <span class="label-text">Street Address</span>
          </label>
          <input x-model="street_address"
                 type="text"
                 id="street_address"
                 name="street_address"
                 required
                 placeholder="Real Street"
                 class="input input-bordered w-full" />
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-fit mt-10 flex ml-auto">
          Add new <span x-text="isEmployee ? 'Employee' : 'Student'"></span> client
      </button>
    </form>
  </div>
</dialog>
{% comment %} djlint:on {% endcomment %}
