# core
Django==4.2.5
django-extensions==3.2.3
django-htmx==1.16.0
django-tailwind==3.6.0

# scripts
aiohttp==3.8.5
PyYAML==6.0.1
Faker==19.6.2
phonenumbers==8.13.22
gpt4all==1.0.12

# dev tools
pre-commit==3.3.3
djlint==1.34.0

# stubs
django-stubs[compatible-mypy]==4.2.4
django-stubs-ext==4.2.2
