# core
Django==5.0.2
django-extensions==3.2.3
django-htmx==1.17.2
django-tailwind==3.8.0

# prod
gunicorn==21.2.0
whitenoise[brotli]==6.6.0

# scripts
aiohttp==3.9.3
PyYAML==6.0.1
Faker==23.2.1
phonenumbers==8.13.30
gpt4all==2.2.1.post1

# dev tools
pre-commit==3.6.0

# stubs
django-stubs[compatible-mypy]==4.2.7
django-stubs-ext==4.2.7
