{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="keywords" content="medrec,seyLu"/>
  <meta name="description" content="Prototype for a medical record system."/>

  <title>
    {% block title %}
    {% endblock %}
  </title>

  {% tailwind_css %}
  <script src="{% static 'theme/htmx.min.js' %}" defer></script>
  <script src="{% static 'theme/htmx-ext/alpine-morph.min.js' %}" defer></script>
  <script src="{% static 'theme/htmx-ext/loading-states.min.js' %}" defer></script>
  <script src="{% static 'theme/alpine-plugins/persist.min.js' %}" defer></script>
  <script src="{% static 'theme/alpine-plugins/morph.min.js' %}" defer></script>
  <script src="{% static 'theme/alpine.min.js' %}" defer></script>

  {% block styles %}
  {% endblock %}
  {% block scripts %}
  {% endblock %}
</head>
<body
  hx-ext="alpine-morph"
  class="overflow-x-auto min-w-[1080px] max-w-[1920px] mx-auto bg-white"
>
<div id="root" class="relative">
  {% block root %}
  {% endblock %}
</div>
</body>
</html>
