{% extends 'base.html' %}
{% load static %}

{% block title %}
  Register :: medrec
{% endblock %}

{% block main %}
  <div class="flex h-screen w-screen flex-col">
    <div class="m-auto w-96 card glass">
      <div class="card-body">
        <div class="card-title">
          <span class="mx-auto">Create a new account</span>
        </div>
        <p>
        <form hx-post="{% url 'register' %}" hx-target="#this" hx-swap="innerHTML">
          {% csrf_token %}

          <div id="this">
            <div class="hidden alert alert-warning">
              <svg xmlns="http://www.w3.org/2000/svg"
                   class="h-6 w-6 shrink-0 stroke-current"
                   fill="none"
                   viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
              </svg>
            </div>
          </div>

          <div class="mt-2 w-full max-w-xs form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email"
                   id="email"
                   name="email"
                   autocomplete="email"
                   required
                   placeholder="name@email.com"
                   class="w-full max-w-xs input input-bordered"/>
          </div>

          <div class="mt-2 w-full max-w-xs form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password"
                   id="password"
                   name="password"
                   required
                   placeholder="******"
                   class="w-full max-w-xs input input-bordered"/>
          </div>

          <div class="mt-2 w-full max-w-xs form-control">
            <label class="label">
              <span class="label-text">Confirm Password</span>
            </label>
            <input type="password"
                   id="re-password"
                   name="re-password"
                   required
                   placeholder="******"
                   class="w-full max-w-xs input input-bordered"/>
          </div>

          <button type="submit" class="mt-10 w-full btn btn-primary">Create a new acccount</button>
        </form>

        <p class="text-center text-sm text-gray-500">
          Already a member?
          <a href="{% url 'login' %}"
             class="font-semibold link link-hover text-primary">Sign in to continue</a>
        </p>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
