{% for province in provinces %}
  <option value="{{ province.name }}" data-code="{{ province.code }}">{{ province.code }}</option>
{% endfor %}

<script>
  const provinceName = document.getElementById("province_name");
  const cityName = document.getElementById("city_name");
  const districtName = document.getElementById("district_name");

  const province = document.getElementById("province");
  const provinceDatalist = document.getElementById("province_datalist");
  let provinceNameEsrc = null;

  provinceName.addEventListener("keydown", (e) => {
    provinceNameEsrc = e.key ? "input" : "list";
  });

  provinceName.addEventListener("input", (e) => {
    if (provinceNameEsrc === "list") {
      const val = e.target.value;
      const province_code = provinceDatalist.querySelector(`option[value="${val}"]`).dataset.code;

      province.value = province_code;
      province.setAttribute("hx-post", `{% url 'cities-query' %}?province=${province_code}`);
      htmx.process(province);

      province.dispatchEvent(new Event("change"));
      cityName.disabled = false;
      cityName.value = "";
    } else {
      cityName.disabled = true;
      cityName.value = "";
      districtName.disabled = true;
      districtName.value = "";
    }
  });
</script>
