{% extends 'base.html' %}
{% load static %}

{% block title %}
  medrec
{% endblock title %}

{% block nav %}
  <nav class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">medrec</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a>hello <span class="text-red-700">{{ request.user }}</span></a>
        </li>
        <li>
          <form hx-post="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="font-semibold text-primary">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
{% endblock nav %}

{% block main %}
  <div class="flex flex-col w-screen">
    <div class="mx-auto mt-32">
      {% comment %} djlint:off {% endcomment %}
      <div x-data="{
            isEmployee: false,
            showForm: false,

            reference_number: '',
            client_type: '',
            first_name: '',
            last_name: '',
            age: '',
            level: '',
            school: '',
            province_name: '',
            city_name: '',
            district_name: '',

            resetModalFields() {
              this.reference_number = '';
              this.client_type = '';
              this.first_name = '';
              this.last_name = '';
              this.age = '';
              this.level = '';
              this.school = '';
              this.province_name = '';
              this.city_name = '';
              this.district_name = '';
            }
          }"
           x-init="resetModalFields"
           class="form-control">
        <label class="label cursor-pointer mb-2">
          <span :class="{'text-gray-500': isEmployee}"
                class="label-text ml-auto font-semibold">Student</span>
          <input type="checkbox" x-model="isEmployee" @change="resetModalFields" class="toggle mx-4" />
          <span :class="{'text-gray-500': !isEmployee}"
                class="label-text mr-auto font-semibold">Employee</span>
        </label>

        <div x-show="!isEmployee" class="join">
          <input class="input input-bordered join-item"
                 placeholder="Learner Reference Number" />
          <button class="btn join-item rounded-r-full">Search</button>
        </div>
        <div x-show="isEmployee" class="join">
          <input class="input input-bordered join-item"
                 placeholder="Employee ID Number" />
          <button class="btn join-item rounded-r-full">Search</button>
        </div>

        <button class="btn btn-primary w-fit m-auto mt-5"
                onclick="client_create_modal.showModal()">
          Add new <span x-text="isEmployee ? 'Employee' : 'Student'"></span> client
        </button>
        {% include 'medrec/partials/client-create-modal.html' %}
      </div>
    </div>
  </div>
{% endblock main %}
{% comment %} djlint:on {% endcomment %}
