{% extends 'base.html' %}

{% block title %}
  medrec
{% endblock title %}

{% block nav %}
  <nav class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl">medrec</a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a>hello <span class="text-red-700">{{ request.user }}</span></a>
        </li>
        <li>
          <form hx-post="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit"
                    class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Logout</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
{% endblock nav %}

{% block main %}
  <div class="flex flex-col w-screen h-screen">
    <div class="mx-auto mt-32">
      <div>
        <input type="checkbox" class="toggle focus:outline-none" checked />
      </div>

      <div class="join">
        <input class="input input-bordered join-item"
               placeholder="Learner Reference Number" />
        <button class="btn join-item rounded-r-full">Search</button>
      </div>
      <div class="join">
        <input class="input input-bordered join-item" placeholder="Employee Number" />
        <button class="btn join-item rounded-r-full">Search</button>
      </div>
    </div>
  </div>
{% endblock main %}
